/*Game area structure*/

#gameDiv {
    font-family: 'Times New Roman', cursive;
    border: 10px double;
    border-radius: 25px;
    padding: 25px;
    background-color: #003A46;
    text-align: center;

}

/*Game area color, size and buttons*/

.choiceBtn {
    line-height: 25px;
    width: 200px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 15 15px #003A46;
    cursor: pointer;
    text-align: center;
    background-color: #52ad55;
}

.choiceBtn:hover {background-color: #173518}

.choiceBtn:active {
  background-color: #52ad55;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#playerText {
    color: #086904
}

#computerText {
    color: rgb(108, 131, 5)
}

#resultText {
    color: red;
}

/*Score section*/
#score {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px red;
}

/*Rule and picture section*/

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 10px ridge;
    border-color: gray;
    border-radius: 25px;
    padding: 25px;
    background-color: #003A46;
}

#GameRules {
    max-width: 100%;
    max-height: 100%;
}