/*Game area structure*/

#gameDiv {
    font-family: 'Times New Roman', cursive;
    border: 5px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: bisque;
    text-align: center;

}

/*Game area color and size*/

.choiceBtn {
    line-height: 25px;
    width: 150px;
}

#playerText {
    color: black
}

#computerText {
    color: rgb(6, 160, 45)
}

#resultText {
    color: rgb(160, 6, 160)
}

/*Rule and picture section*/

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#GameRules {
    max-width: 100%;
    max-height: 100%;
}